{% extends 'fish/base.html' %}

{% block content %}

<h1>{{title}}</h1>

<div class="image-bg"></div>
<p class="first">Наш океанариум объединяет более 3000 обитателей и 100 тропических видов растений со всех уголков мира в трех экспозициях на 10 000 кв. метрах. Уникальная конструкция комплекса и оборудование позволяют создавать для обитателей условия содержания, близкие к природным.
100 аквариумов и вольеров, 4,5 млн литров воды, дайвинг в окружении подводных обитателей, 3 минуты пешком от м. Мякинино и платная парковка.</p>

{% endblock %}
